<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Hien thi danh sach</h1>

    <% for(var i = 0; i < data.length;i ++){ %>
        <div><%= data[i].id %></div>
        <div><%= data[i].name %></div>
        <div><%= data[i].price %></div>
        <div><%= data[i].year %></div>
        <div><%= data[i].brand %></div>

        <hr>
    <%} %>
</body>
</html>